@use "styles/theme" as v;

.header {
  text-align: center;
  margin-bottom: 4rem;
  h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }
  p {
    color: v.$color-text-muted;
  }
}

.bikeList {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
