@use "styles/theme" as v;

.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 0.5rem;
  font-size: 0.85rem;
}

.forgot {
  color: v.$color-primary;

  &:hover {
    color: v.$color-secondary;
  }
}
