@use "styles/theme" as v;

.grid {
  display: grid;
  gap: 1.5rem;

  @media (min-width: v.$tablet) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.sub {
  display: block;
  margin-top: 4px;
  font-size: 0.85rem;
}
